appdirs==1.4.3
click==6.7
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
packaging==16.8
-e git+https://github.com/flockchat/pyflock@7983837f23a2cbce10fb61b3546411c9d6d16f32#egg=pyflock
PyJWT==1.4.2
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
Werkzeug==0.12.1
